.prod-section-container {
  display: grid;
  grid-template-columns: 20% auto;
  background-color: var(--color-white-400);
}

.filter-section-header {
  display: grid;
  grid-template-columns: 70% auto;
  align-items: center;
  justify-content: space-evenly;
}

.slider input {
  width: 18vw;
}

.slider-range {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}

.products-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-evenly;
  justify-items: center;
}

@media (max-width: 950px) {
  .products-list {
    grid-template-columns: repeat(2, 1fr);
  }

  .prod-section-container {
    grid-template-columns: 30% auto;
  }
}

@media (max-width: 800px) {
  .prod-section-container {
    display: block;
  }

  .prod-section-container aside {
    display: none;
  }
}
