/* variables */

:root {
  --nav-shadow: 0 0 4px rgb(0 0 0 / 40%);
  --overlay-clr: rgba(243, 243, 249, 0.77);
  --color-dark-green: #116530;
}

/* global selectors */

body {
  overflow-x: hidden;
}

html,
.navigation-container,
.card-container-vertical {
  background-color: var(--color-white-500);
}

/* home page */
.home {
  padding-bottom: 4rem;
}

/* component Card */

.card-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
}

.card-container-vertical {
  width: 250px;
  text-align: center;
}

.card-icon {
  color: var(--color-dark-700);
}

.card-icon {
  padding: 0.5rem;
  right: 0;
  top: 0;
}

.horizontal-card-icon {
  position: absolute;
  padding: 0.5rem;
  right: 0;
  top: 0;
  cursor: pointer;
}

.card-icon:hover,
.horizontal-card-icon:hover {
  color: var(--color-error-400);
}

.card-badge-best-seller {
  position: absolute;
  cursor: pointer;
  background-color: var(--color-warning-400);
  padding: 2px 5px;
  left: 0;
  top: 10px;
}

.card-badge-new-releases {
  position: absolute;
  cursor: pointer;
  background-color: var(--color-secondary-400);
  color: var(--color-white-400);
  padding: 2px 5px;
  left: 0;
  top: 10px;
}

.card-img {
  padding-top: 5px;
}

.icon-star {
  color: var(--color-warning-400);
  padding-left: 5px;
}

.rating-wrapper {
  background-color: var(--color-bg-card-overlay-text);
  font-size: smaller;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 10%;
  bottom: 43%;
  color: var(--color-white-400);
  padding: 1px 4px;
  max-height: 15px;
  padding: 2px 5px;
  line-height: 0;
}
.horizontal-card-rating-wrapper {
  background-color: var(--color-bg-card-overlay-text);
  font-size: smaller;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  bottom: 8%;
  color: var(--color-white-400);
  padding: 1px 4px;
  max-height: 15px;
  padding: 2px 5px;
  line-height: 0;
}

.color-text-dark-green {
  color: var(--color-dark-green);
}

/* component Nav */

.img-logo {
  height: 60px;
}

.navigation-container {
  width: initial;
  box-shadow: var(--nav-shadow);
}

.navigation-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 300px;
}

.nav-links {
  color: var(--color-primary-400);
  text-transform: uppercase;
  font-size: small;
  font-weight: 700;
}

/* hero section */

.hero-section {
  margin: 0.5rem 1rem;
  position: relative;
}

.hero-section img {
  height: 540px;
  width: 100%;
}

.hero-section-body {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  padding: 0.5rem 2.5rem;
  background-color: var(--overlay-clr);
  color: var(--color-primary-400);
}

/* collections */

.category {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 2rem;
  gap: 1rem;
  cursor: pointer;
}

.category img {
  height: 250px;
  width: 100%;
  margin-bottom: 0.5rem;
}

.category-wrapper {
  background-color: var(--color-secondary-200);
  padding: 1rem;
}

.category-wrapper:hover {
  box-shadow: var(--color-shadow);
  color: var(--color-secondary-900);
}

/* genre */

.genre-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin: 2rem;
  gap: 1rem;
  cursor: pointer;
}

.genre-container img {
  height: 210px;
  width: 100%;
}

/* choice */

.choice-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 2rem;
  justify-items: center;
}

.card-container-vertical,
.card-icon {
  background-color: var(--color-white-400);
}

.card-container-vertical img,
.card-container-horizontal img {
  cursor: pointer;
}

.card-container-vertical,
.card-container-horizontal {
  text-align: center;
}

.card-container-vertical:hover,
.card-container-horizontal:hover {
  box-shadow: var(--color-shadow);
}

/* utilities */
.btn-full-width {
  width: 100%;
  margin: 0;
}

.padding-sm {
  padding: 0.5rem;
}

.margin-sm {
  margin: 0.5rem 0;
}

/* media queries */
@media (max-width: 1210px) {
  .genre-container,
  .choice-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 800px) {
  .genre-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 550px) {
  .hero-section-body {
    padding: 0.5rem 1rem;
    width: 250px;
  }

  .choice-container {
    margin: 0.5rem;
  }
}

@media (max-width: 430px) {
  .genre-container,
  .category {
    grid-template-columns: 1fr;
  }

  .choice-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
